{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Crear categoría</h2>
                {% form_theme form 'AppBundle:Form:bootstrap-override.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}